<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
<title>Carstore</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link type="text/css" rel="stylesheet" href="css/bootstrap.min.css" th:href="@{css/bootstrap.min.css}" />
</head>
<body>
	<div class="container">
		<div class="col-md-4">
			<h1>Carstore</h1>
		</div>
		<div class="col-md-4">
			<h3 th:inline="text">Welcome [[${#httpServletRequest.remoteUser}]]</h3>
		</div>
		
		<div sec:authorize="isAnonymous()" class="col-md-4">
			<a href="/login" class="btn btn-xs btn-primary">Sign in</a>
		</div>
		
		<div sec:authorize="hasAuthority('ADMIN')" class="col-md-4">
			<form th:action="@{/logout}" method="post">
				<input type="submit" value="Sign Out" class="btn btn-xs btn-primary"/>
			</form>
		</div>
		
		<div style="clear: both; display: block; height: 10px;"></div>
		
		<table class="table table-striped">
			<tbody>
				<tr>
					<th>Merkki</th>
					<th>Malli</th>
					<th>Vuosi</th>
					<th>Hinta</th>
					<th>Tyyppi</th>
					<th sec:authorize="hasAuthority('ADMIN')"> </th>
					<th sec:authorize="hasAuthority('ADMIN')"> </th>
				</tr>
				<tr th:each = "car : ${cars}">
					<td th:text="${car.merkki}"></td>
					<td th:text="${car.malli}"></td>
					<td th:text="${car.vuosi}"></td>
					<td th:text="${car.hinta}"></td>
					<td th:text="${car.type.kuvaus}"></td>
					
					<td sec:authorize="hasAuthority('ADMIN')"><a th:href="@{/delete/{id}(id=${car.id})}" class="btn btn-xs btn-danger">Delete</a></td>
					<td sec:authorize="hasAuthority('ADMIN')"><a th:href = "@{/edit/{id}(id=${car.id})}" class="btn btn-xs btn-warning">Edit</a></td>  
				</tr>
			</tbody>
		</table>
		<a href="/add" class="btn btn-xs btn-success">Add Car</a> 
	</div> 
</body>
</html>