<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<title>Carstore</title>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<link type="text/css" rel="stylesheet" href="css/bootstrap.min.css" th:href="@{css/bootstrap.min.css}" />
</head>
<body>
	<div class="container">
		<div class="col-md-4">
			<h1>Edit Car</h1>
		</div>
		<div class="col-md-4">
			<form th:object="${car}" th:action="@{/save}" action="#" method="post">
				<input type="hidden" id="id" th:field="*{id}"/>
				<label for="merkki">Merkki</label>
				<input type="text" id="merkki" th:field="*{merkki}" class="form-control"/>
				<div style="clear: both; display: block; height: 10px;"></div>
			  	<label for="malli">Malli</label>
				<input type="text" id="malli" th:field="*{malli}" class="form-control"/>
				<div style="clear: both; display: block; height: 10px;"></div>
			  	<label for="vuosi">Vuosi</label>
				<input type="text" id="vuosi" th:field="*{vuosi}" class="form-control"/>
				<div style="clear: both; display: block; height: 10px;"></div>
				<label for="hinta">Hinta</label>
				<input type="text" id="hinta" th:field="*{hinta}" class="form-control"/>
				
				<div style="clear: both; display: block; height: 10px;"></div>						
			  	<label for="typlist">Tyyppi</label>
				 <select id="typlist" th:field="*{type}" class="form-select">
	       			<option th:each="tyyp: ${tyypit}" th:value="${tyyp.tyyppiid}" th:text="${tyyp.kuvaus}"></option>
	    		</select>
				
				<div style="clear: both; display: block; height: 10px;"></div>
				<input type="submit" value="Save" class="btn btn-xs btn-success"></input>
			</form>
		</div>
	</div>
</body>
</html>